<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='share.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Hugg!</title>
</head>

<body>
    <div id="content">
        <h1 id="huge">share the warmth!</h1>
        <h2 id="url">{{ url }}</h2>
        <a class="button" href="./form.html"><i class="fas fa-copy"></i></a>
        <a class="button" href="./form.html"><i class="fas fa-envelope"></i></a>
        <a class="button" href="./form.html"><i class="fab fa-twitter"></i></a>
        <p>a project by isaac lim</p>
    </div>
</body>
